{% extends "Lakers/base.html" %}
{% load static %}
{% block title %}Los Angeles Lakers{% endblock title %}
{% block description %}Tudo sobre o melhor time de basquete do mundo{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview -->
      {% for jogador in jogadores %}
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title">{{ jogador.nome }}</h2>
            <img src="{% static jogador.foto %}" alt="Foto de {{ jogador.nome }}" class="img-fluid mb-2" style="max-height: 250px;">
            <p class="card-text"><small class="text-muted">Posição: {{ jogador.posicao }}</small></p>
            <p class="card-text"><small class="text-muted">Número: {{ jogador.numero }}</small></p>
            <a href="{{ jogador.link }}" class="btn btn-primary">Mais detalhes</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
