{% extends "Lakers/base.html" %}
{% load static %}
{% block title %}Los Angeles Lakers{% endblock title %}
{% block description %}Tudo sobre o melhor time de basquete do mundo{% endblock %}

{% block content %}
        <!-- Conteúdo -->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ historia }}</p>
                    </div>
                </div>
            </div>
        </article>
{% endblock content %}
